# Ignore Output and Data Folders
Test_Output/
output_data/
input_data/
*.csv

# Ignore dcm2niix executable if you dropped it in the folder
*.exe
dcm2niix_win/

# Ignore Python specific files
__pycache__/
*.pyc
venv/
.env